@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
      @apply relative flex items-center justify-center h-12 w-12 my-2 mx-auto shadow-lg bg-[#2b2d31] rounded-3xl transition-all  duration-300 hover:rounded-xl hover:bg-[#5865f2];
  }

  .sidebar-tooltip {
      @apply absolute w-auto p-2 ms-4 mt-3 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-[#111214] transition-all duration-150 scale-0 origin-left;
  }

  .card {
      @apply p-3 rounded-md bg-[#1e1f22] shadow-md h-full;
  }

  .ggsans {
      @apply font-sans;
      font-family: 'Gg Sans', sans-serif;
  }
  
  .lien {
    @apply decoration-2 decoration-sky-500 hover:underline;
}
}

.conv-mess {
  height: 95%;
}

.conv-panel {
  height: 5%;
}